:root {
  //fonts
  --font-text-1: 'Montserrat', sans-serif;
  --font-text-2: 'MursGothic-WideDark', sans-serif;
  --font-text-3: 'EBGaramond-Bold', sans-serif;

  //color
  --color-1: 0, 148, 146; //#009492
  --color-2: 251, 211, 0; //#FBD300
  --color-3: 0, 39, 95; //#00275F

  //gradient
}
